.button-arrow{
    height: 50px;
    width: 50px;
    background-color: #3A4042;
    box-shadow: 5px 5px 0px #000000;
    cursor: pointer;
}

.button-arrow .content{
    display: none;
}

.button-arrow::before{
    content:'';
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border:20px solid transparent;
    border-left: 20px solid white;
    transform: translateX(10px);
}

.button-arrow.-left::before{
    transform: rotate(180deg) translate(13px);
}