.card-project{
    display: inline-block;
    justify-content: center;
    background-color: black;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #4fa4be;
}

.card-project.-white{
    background-color: white;
}

.card-project.-red{
    box-shadow:10px 10px 0 #314085;
}