.card-project{
    display: inline-block;
    justify-content: center;
    background-color: black;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #8b2821;
}

.card-project.-white{
    background-color: white;
}

.card-project.-red{
    box-shadow:10px 10px 0 #F04B40;
}