.main-section{
    background-color: #314085;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #BABBBF;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: black;
}

.main-section.-bdFirst{
    border-color:#BABBBF;
}

.main-section.-bgSobre{
    background-image:linear-gradient(to left, #1a5362,#4fa4be);
}

.main-section.-bdSobre{
    border-color: #BABBBF;
}