.main-box{
    display: inline-block;
    background-image:linear-gradient(to right, #25697a,#c3dae2);
    box-shadow: 10px 10px 4px black;
    text-align: center;
    padding: 42px 44px;
}

.main-box .main-title{
    margin-bottom: 28px;
}