.main-title{
    font-family: 'Press Start 2P', 'sans-serif';
    color:black;
    font-size: 40px;
    text-shadow:6px 3px 0 rgb(141, 145, 146);
}

.main-title.-second{
    color:white;
    text-align: center;
    text-shadow: none;
}